<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
          <%= link_to image_tag("TTG2.png", alt: "TTG", :style => "width: 50px"), root_url %>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if tourguide_signed_in? %>
          <li>
            Logged in as <%= image_tag current_tourguide.tg_avatar.url(:thumb) if current_tourguide.tg_avatar? %><strong><%= link_to "#{current_tourguide.tg_first_name} #{current_tourguide.tg_last_name}", current_tourguide %></strong>
          </li>
          <li><%= link_to 'Edit profile', edit_tourguide_registration_path %></li>
          <li><%= link_to "Log Out", destroy_tourguide_session_path, method: :delete %></li>
        <% elsif user_signed_in?%>
          <li>Logged in as <strong><%= link_to "#{current_user.email}", root_url %></strong></li>
          <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete  %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Touring! <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Be a Tourist", new_user_registration_path %></li>
              <li><%= link_to "Log In", new_user_session_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Guiding! <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Be a Taxi Tour Guide", new_tourguide_registration_path %></li>
              <li><%= link_to "Log In", new_tourguide_session_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
</nav>
