<h1>User Profile</h1>

<%= @user.first_name %> <%= @user.last_name %>
<br>
<%= @user.email %>
<br>
<%= @user.created_at %>
<br>
<%= @user.updated_at %>
<br>

<% if current_user.admin? && !current_user?(@user)%>
  <%= link_to "Delete", @user, method: :delete, data: { confirm: "You sure?"} %>
<% end %>
<p>
  <%= Time.now %>
  <br>
  Find me in app/views/users/show.html.erb
</p>
