<p id="notice"><%= notice %></p>

<p><%= image_tag @home.home_picture.url if @home.home_picture? %></p>

<p>
  <strong>Name:</strong>
  <%= @home.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @home.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @home.price %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Destroy', @home, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', homes_path %>
