<div id="home-<%= @home.id %>">

  <span >
    <h1><%= "#{@home.name} (h#{(@home.id)})" %></h1>
  </span>
  <span>
    <%= image_tag @home.picture.url if @home.picture? %>
    <br><br>
  </span>
  <span>
<<<<<<< HEAD
    Address:<br>
    <%= @home.address %>
  </span>
  <span>
=======
>>>>>>> 245a9ea33d4eba2973ff91cfe4007b86fe4a7a7d
    Description:<br>
    <%= @home.description %>
  </span>
  <br><br>
  <span>
    Price<br>
    <%= @home.price %>
  </span>
  <br><br>
  <span>
    Host:<br>
    <%= link_to "#{@home.user.first_name} #{@home.user.last_name}", @home.user %>
  </span>
  <br><br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@home.created_at) %> ago.<br>
    Updated <%= time_ago_in_words(@home.updated_at) %> ago.
  </span>
  <br><br>

  <% if current_user?(@home.user) %>
  <%= link_to "Edit Home", edit_home_path(@home) %>

    <%=
      link_to "Delete Home", @home, method: :delete, data: { confirm: "You are about to delete #{@home.name}. Are you sure?"}
    %>
  <% end %>
</div>
