<%= form_with(model: destination, local: true) do |form| %>
  <% if destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

      <ul>
      <% destination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :d_name %>
    <%= form.text_field :d_name, id: :destination_d_name %>
  </div>

  <div class="field">
    <%= form.label :d_description %>
    <%= form.text_field :d_description, id: :destination_d_description %>
  </div>

    <%= hidden_field_tag :tourguide_id, id: :destination_tourguide_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
