<h1>Log In</h1>

<div>
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :email %>
    <br>
    <%= f.email_field :email %>
    <br>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit "Log In" %>
  <% end %>

</div>

<p>New User? <%= link_to "Sign Up now!", signup_path %></p>
<br>
<p>Find me in app/views/sessions/new.html.erb</p>
