<!DOCTYPE html>
<html>
  <head>
    <title>Ttg0</title>
    <%= csrf_meta_tags %>

    <%= render 'layouts/bs_js'%>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <%= render 'layouts/notifs'%>
    <%= yield %>

  </body>
</html>
