<!DOCTYPE html>
<html>
  <head>
    <title>Ttg0</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <%= link_to 'Logo', root_url %>

       <% if tourguide_signed_in? %>
         Logged in as <%= image_tag current_tourguide.tg_avatar.url(:thumb) if current_tourguide.tg_avatar? %><strong><%= link_to "#{current_tourguide.tg_first_name} #{current_tourguide.tg_last_name}", current_tourguide %></strong>.
         <%= link_to 'Edit profile', edit_tourguide_registration_path, :class => 'navbar-link' %> |
         <%= link_to "Logout", destroy_tourguide_session_path, method: :delete, :class => 'navbar-link'  %>
       <% else %>
         <%= link_to "Be a Taxi Tour Guide", new_tourguide_registration_path, :class => 'navbar-link'  %> |
         <%= link_to "Already a driver? Log In", new_tourguide_session_path, :class => 'navbar-link'  %>
       <% end %>
    <%= yield %>
  </body>
</html>
