<!DOCTYPE html>
<html>
  <head>
    <title>Abnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Logo", root_path %>
      <%= link_to "Sign Up", signup_path %>
    </header>
    <%= yield %>
  </body>
</html>
